<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Register User' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">{{ 'First name' | translate }}</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{ 'Last name' | translate }}</ion-label>
      <ion-input formControlName="surname" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{ 'Password' | translate }}</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="inline">{{ 'Notify last park place availability' | translate }}</ion-label>
      <ion-checkbox formControlName="envioDisponibilidad" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="inline">{{ 'Send History Reports' | translate }}</ion-label>
      <ion-checkbox formControlName="envioInformes"  checked="true"></ion-checkbox>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">{{ 'Register' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
