<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" [defaultHref]="getBackRoute()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Log In' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

    <!-- EMAIL -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <!-- PASSWORD -->
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <!-- CHECKBOX: ENVIO DISPONIBILIDAD Y GENERACION DE INFORMES -->
    <!-- <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item> -->

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">{{'Sign In' | translate}}</ion-button>
        <a (click)="forgotPasswordClicked()" class="small-text">{{'Forgot Password?'| translate}}</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
