<ion-header>
  <!-- toolbar -->
  <ion-toolbar>
    <ion-buttons slot="start">  <ion-menu-button></ion-menu-button>  </ion-buttons>
    <ion-title>  Map  </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Botón que actualiza el mapa y centra tu localización actual -->
<ion-row class="ion-justify-content-center">
  <ion-button (click)="loadMap()" shape="round" fill="outline" >
    <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
  </ion-button>
</ion-row>

<ion-content>

  <!-- Botón info coordenadas -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="showCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Marcador que sale en el centro de la pantalla -->
  <div class="map-wrapper" style="height: 100%;">
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>
    </div>
    <div #map id="map"  style="height: 100%;"></div>
  </div>

</ion-content>




