<ion-header>
  <ion-toolbar>
    <ion-title>Parking {{ parking?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="gridBorder" >
    <ion-row *ngFor="let placeRow of placesRows">
      <ion-col  class="gridBorder place" *ngFor="let placeCol of placeRow" >
        <span  *ngIf="placeCol.occupied" class="occupied">
          <ion-icon *ngIf="placeCol.size === 1" name="bicycle" size="small"></ion-icon>
          <ion-icon *ngIf="placeCol.size === 2" name="car" size="small"></ion-icon>
          <ion-icon *ngIf="placeCol.size === 3" name="car-sport" size="small"></ion-icon>
          <ion-icon *ngIf="placeCol.size === 4" name="bus" size="small"></ion-icon>
        </span>
        <span  *ngIf="!placeCol.occupied" class="free" >{{ placeCol.coordX }}-{{ placeCol.coordY }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

    <!-- Botón info coordenadas -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="ScanQr()" ion-fab color="tertiary">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>
