<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" [defaultHref]="getBackRoute()"></ion-back-button>
    </ion-buttons>
    <ion-title>Config User : <strong>{{ user?.name }}</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='modifyForm' (ngSubmit)="onSubmitModify()">
    <ion-item>
      <ion-label position="floating">{{ 'First name' | translate }}</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'Last name' | translate }}</ion-label>
      <ion-input formControlName="surname" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="inline">{{ 'Notify last park place availability' | translate }}</ion-label>
      <ion-checkbox formControlName="envioDisponibilidad" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="inline">{{ 'Send History Reports' | translate }}</ion-label>
      <ion-checkbox formControlName="envioInformes"  checked="true"></ion-checkbox>
    </ion-item>

    <ion-button class="ion-margin-top" type="submit" expand="block" color="success">Update</ion-button>
  </form>

</ion-content>
